<h3>Delete</h3>
<h4>Are you sure you want to delete this?</h4>
<form (ngSubmit)= "onclicksubmit()">

    <div class="form-horizontal">
        <h4>Employees</h4>
        <div class="form-group">
            <label class = "control-label col-md-2">Employee Name</label> 
            <div class="col-md-10">
                <label class = "control-label col-md-2">{{emp?.employeename}}</label>
            </div>
        </div>

        <div class="form-group">
            <label class = "control-label col-md-2">Designation</label> 
            <div class="col-md-10">
                <label class = "control-label col-md-2">{{emp?.designation}}</label>
            </div>
        </div>
          <div class="form-group">
            <label class = "control-label col-md-2">Manager ID</label> 
            <div class="col-md-10">
                <label class = "control-label col-md-2">{{emp?.managerid}}</label>
            </div>
        </div>

        <div class="form-group">
            <label class = "control-label col-md-2">Contact No</label> 
            <div class="col-md-10">
                <label class = "control-label col-md-2">{{emp?.contactno}}</label>
            </div>
        </div>

        <div class="form-group">
            <label class = "control-label col-md-2">Email ID</label> 
            <div class="col-md-10">
                <label class = "control-label col-md-2">{{emp?.emailid}}</label> 
            </div>
        </div>
        <div class="form-group">
            <label class = "control-label col-md-2">Skill Sets</label> 
            <div class="col-md-10">
                <label class = "control-label col-md-2">{{emp?.skillset}}</label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Delete" class="btn btn-danger" />
            |<a href="./Employees/show">Back</a>
            </div>
        </div>
    </div>
</form>

      
