<h3>Create</h3>
<form [formGroup]="formdata" (ngSubmit)="onclicksubmit(formdata.value)">
    <div class="form-horizontal">
        <h4>Employees</h4>
        <div class="form-group ">
            <label class = "control-label col-md-2">Employee Name</label> 
            <div class="col-md-10 ">
              <input type="text" formControlName="employeename" value="" class = "control-label col-md-2"> 
              <span *ngIf="formdata.controls.employeename.errors && (formdata.controls.employeename.dirty || formdata.controls.employeename.touched)" >
                <span *ngIf="formdata.controls.employeename.errors.required" style="color:darkred">
                    Name is Required. 
                </span>
            </span>
            </div>
        </div>

        <div class="form-group">
            <label class = "control-label col-md-2">Designation</label> 
            <div class="col-md-10">
              <input type="text" formControlName="designation" value="" class = "control-label col-md-2">
              <span *ngIf="formdata.controls.designation.errors && (formdata.controls.designation.dirty || formdata.controls.designation.touched)" >
                    <span *ngIf="formdata.controls.designation.errors.required" style="color:darkred">
                        Designation is Required
                        
                    </span>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label class = "control-label col-md-2">Manager</label> 
            <div class="col-md-10">
                        <select class="custom-select" formControlName="managerid">
                            <option value="" selected disabled hidden>Choose here</option>
                            <option value="0">No Manager</option>
                            <option *ngFor="let emp of employees" value="{{emp.employeeid}}">{{emp.employeename}}</option>
                        </select>
            </div>
        </div>

        <div class="form-group">
            <label class = "control-label col-md-2">Contact No</label> 
            <div class="col-md-10">
              <input type="text" formControlName="contactno" value="" class = "control-label col-md-2">
              <span *ngIf="formdata.controls.contactno.errors && (formdata.controls.contactno.dirty || formdata.controls.contactno.touched)" class="alert-danger">
                    <span *ngIf="formdata.controls.contactno.errors.required"style="color:darkred">
                    Contact No is Required
                        
                    </span>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label class = "control-label col-md-2">Email ID</label> 
            <div class="col-md-10">
              <input type="email" formControlName="emailid" value="" class = "control-label col-md-2">
              <span *ngIf="formdata.controls.emailid.errors && (formdata.controls.emailid.dirty || formdata.controls.emailid.touched)" >
                    <span *ngIf="formdata.controls.emailid.errors.required" style="color:darkred">
                        Email ID is Required
                    </span>
                    <span *ngIf="formdata.controls.emailid.errors.pattern && (formdata.controls.emailid.dirty || formdata.controls.emailid.touched)" style="color:darkred">
                            Email ID is Not Valid
                    </span>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class = "control-label col-md-2">Skill Sets</label> 
            <div class="col-md-10">
              <input type="text" formControlName="skillset" value="" class = "control-label col-md-2">
              <span *ngIf="formdata.controls.skillset.errors && (formdata.controls.skillset.dirty || formdata.controls.skillset.touched)" >
                    <span *ngIf="formdata.controls.skillset.errors.required" style="color:darkred">
                      Skill Set is Required
                        
                    </span>
                </span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" [disabled] = "!formdata.valid" />
            | <a href="./Employees/show"> Back</a>
            </div>
        </div>
    </div>
</form>

